doctype html
html
  head
    title Cities Information
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        .container
          .logo
            h1 Population Info
          ul.nav-links
            li
              a(href='/') Home
            li
              a(href='/cities') Cities
            li
              a(href='/countries') Countries
    main
      .container
        h1 Cities Information
        table
          thead
            tr
              th Name
              th Country Code
              th District
              th Population
          tbody
            each city in cities
              tr
                td= city.Name
                td= city.CountryCode
                td= city.District
                td= city.Population
    footer
      .container
        p &copy; 2024 Population Information System
